# Typical files I like to ignore

# macOS 
**/.DS_Store

# VSCode
**/.vscode

# Python
**/__pycache__
**/*.py[cod]


# Specific to this project
.config/github-copilot
.config/mayhem
.config/yarn
vscode/
